/* <<<<< Скидання >>>>> */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* <<<<< /Скидання >>>>> */

:root {
    --accent-color: #404BBF;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

}
body {
    font-family: var(--primary-font);
    background: #FFFFFF;
}
/* <<<<< Компоненти >>>>> */

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-weight: 700;
    color: #2E2F42;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
.page-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* <<<<< /Компоненти >>>>> */

/* <<<<< Шапка сайта >>>>> */
.page-header {
    background: #FFFFFF; 
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 20px; 
} 
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logotype {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
span {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
}


@media screen and (min-width: 480px) {
    
    .container {
        width: 426px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    } 
    .page-header {
        padding-bottom: 20px;
    }
    .menu-contact {
        display: none;
    }
    .mobile-btn-menu {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        cursor: pointer;
    }
    
    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 110;
        top: 0;
        left: 0;    
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
     
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        
    }
    .mobile-menu-container {
        position: relative;
        width: 100%;

    }
    .mobile-btn-close {
        position: absolute;
        top: 40px;
        right: 40px;
        padding: 0;
        line-height: 0;
        width: 24px;
        height: 24px;
        background-color: #E7E9FC;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }    
    .mobile-btn-close:hover,
    .mobile-btn-close:focus {
        fill:#FFFFFF;
        background-color: #4D5AE5;
    }
    .mobile-menu-container-list {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-top: 80px;
    }
    .mobile-menu-container-list-item:not(:last-child) {
        margin-bottom: 40px;
    }
    .mobile-menu-container-list-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu-container-list-link:hover,
    .mobile-menu-container-list-link:focus {
        color: var(--accent-color);
    }
    .mobile-menu-contact {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-top: 284px;
    }
    .mobile-contact-phone {
        display: block;
        margin-bottom: 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-contact-phone:hover,
    .mobile-contact-phone:focus {
        color: #4D5AE5;
    }
    .mobile-contact-mail {        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-contact-mail:hover,
    .mobile-contact-mail:focus {
        color: #4D5AE5;
    }
    .mobile-menu-social-list {
        display: flex;
        justify-content: center;
        padding-top: 48px;
        gap: 56px;
        padding-bottom: 40px;
    }
    .mobile-menu-social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        fill: #fff;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu-social-list-link:hover,
    .mobile-menu-social-list-link:focus {
        background-color: #404BBF;
    }
}


@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }
    
    .mobile-btn-menu {
        display: none;
    }    
    .mobile-menu {
        display: none;
    }
    .page-nav {
        display: flex;
        align-items: center;
        
    }
    .menu {
        display: flex;
        margin-left: 120px;
    }
    .menu-item:not(:last-child) {        
        margin-right : 40px;
    }
    .menu-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-link:hover,
    .menu-link:focus {
        color: var(--accent-color);
    }
    .underline::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -24px;
        background: var(--accent-color);
        border-radius: 2px;
    }
    .menu-contact {
        
        position: absolute;
        top: 24px;
        right: 16px;

    }
    
    .contact-mail {
        display: block;
        margin-bottom: 4px; 
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact-mail:hover,
    .contact-mail:focus {
        color: var(--accent-color);
    }
    .contact-phone {
        display: block;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }
    .contact-phone:hover,
    .contact-phone:focus {
        color: var(--accent-color);
    }
}
@media screen and (max-width: 767px) {
    .menu-contact {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 24px;
        padding-right: 16px;        
    }
    
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }   
    .page-nav {
        padding-left: 156px;
    }
    .menu {
        margin-left: 76px;
    }
    .menu-contact {
        display: flex;
        justify-content: center;
    }
    .contact-mail {
        margin: 0;
        margin-right: 40px;
    }

}
/* <<<<< /Шапка сайта >>>>> */

/* <<<<< Тіло сторінки >>>>> */

/* <<<<< Герой >>>>> */

.hero {
    min-height: 432px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2-page/backround/../backround/people-office-mobile.jpg);
    background-position: center;
    background-size: 428px 432px;
    background-repeat: no-repeat;
    background-color: #2E2F42;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
 screen and (min-resolution: 192dpi) and (max-width: 767px),
 screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2-page/backround/people-office-mobile@2x.jpg);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
   
}
.title-hero {
    padding-top: 112px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;  
}
.btn {
    margin-top: 72px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    border-width: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
}
@media screen and (min-width: 768px){
    .hero {
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2-page/backround/../backround/people-office-tablet.jpg);
        background-size: 768px 436px;
    }
    .btn {
        margin-top: 40px;
    }
    
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
 screen and (min-resolution: 192dpi) and (min-width: 768px),
 screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2-page/backround/people-office-tablet@2x.jpg);
        
    }
   
}
@media screen and (min-width: 1200px){
    .hero {
        min-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2-page/backround/../backround/people-office-desktop.jpg);
        background-size: 1440px 600px;
    }
    .title-hero {
        padding-top: 188px;
    }
    .btn {
        margin-top: 48px;
    }
    
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
 screen and (min-resolution: 192dpi) and (min-width: 1200px),
 screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2-page/backround/people-office-desktop@2x.jpg); 
    }
   
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)   ;

}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    width: 408px;
    height: 586px;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.2),0px 1px 1px rgba(0, 0, 0, 0.14);;
    border-radius: 4px;
}
@media screen and (max-width: 767px) {
    .modal{
        width: 392px;
    }
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   

}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.description-form {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-input-desc {
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: #FCFCFC;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    outline: none;
    border-color: #4D5AE5; 
}
.modal-form-input-icon {
    position: absolute;
    left: 16px;
    height: 50%;
    transform: translateY(50%);
    fill:#2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-input-icon {
    fill: #4D5AE5
}

.modal-form-input-wrapper {
    position: relative;
    margin-bottom: 8px;
}
.modal-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
    outline: none;
    border-color: #4D5AE5; 
}
.modal-form-message::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: rgba(117, 117, 117, 0.5);
}
.modal-form-check-desc {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    cursor: pointer;
}
.modal-form-check-desc-link {
    text-decoration-line: underline;
    color: #4D5AE5;
}
.modal-form-check-vector {
    display: block;
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}
.modal-form-check-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #F4F4FD;
}
.modal-form-check {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    
}
.modal-form-check:checked + .modal-form-check-desc > .modal-form-check-vector {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.modal-form-check:focus + .modal-form-check-desc > .modal-form-check-vector {
    border-color: var(--accent-color);
}
.modal-form-submit{
    align-self: center;
    width: 169px;
    height: 56px;
    margin-bottom: 24px;    
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--accent-color);    
}
/* PROPERITES  */
.page-properties-list {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
}
.page-properties-title {        
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.page-properties-text {
    font-weight: 500;
}
@media screen and (max-width: 1199px) {
    .properties-icon {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .page-properties-list {
        flex-direction: column;
        row-gap: 72px;
    }
}
@media screen and (min-width: 768px) {
    .page-properties-list {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .page-properties-link-wrapper{       
        width: 356px;
    }      
    .page-properties-title {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .page-properties-list {
        padding-bottom: 120px;
    }    
    .properties-svg {
        padding: 24px 100px;
        width: 264px;
        height: 112px;
        justify-content: center;
        margin-bottom: 8px;
        background: #F4F4FD;
        border-radius: 4px;
        
    }
    .page-properties-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }      
    .page-properties-link-wrapper{       
        width: 264px;
    }      
}
/* <<<<< Продукт >>>>> */
@media screen and (max-width: 1199px) {
    .product {
        display: none;   
    }    
    
}
.product {
    padding-bottom: 120px;
    
}    
.product-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.page-product-list {
    display: flex;
    gap: 24px;
}
.page-product-link {
    border: 1px solid #E7E9FC;
}


/* <<<<< Команда >>>>> */
.employees{
    padding-top: 96px;
    padding-bottom: 128px;
    background-color: #F4F4FD;
}
.page-employees-list {
    display: flex;
}
@media screen and (max-width: 767px) {
    .page-employees-list {
    flex-direction: column;
    align-items: center;  
}    
}
.employees-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
}
.page-employees-link {
    width: 264px;
}
.page-employees-link:not(:last-child) {
    margin-bottom: 72px;
}
.employees-title-text {
    text-align: center;
    padding: 32px 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; 
}
.employees-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.social-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}
.social-list-item {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item:hover,
.social-list-item:focus {
    background-color: var(--accent-color);
}
.social-list-item {
  position: relative;
    
}
.social-list-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;

}
.social-list-icon {
    fill: #F4F4FD;
}
@media screen and (min-width: 768px) {
    .employees {
        padding-bottom: 104px;
    }
    .page-employees-list {
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
   }    
 
}
@media screen and (min-width: 1200px) {
    .employees {
        padding-bottom: 120px;
    }
}    






/* .employees {    
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
}

.page-employees-list {
    display: flex;  
    justify-content: center;
    gap: 24px;

}
.employees-title-text {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.employees-title {   
    margin-bottom: 72px; 
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.employees-name {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.employees-position {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
    fill: #F4F4FD;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
} */

/* <<<<< /Команда >>>>> */

/* <<<<< Клієнти >>>>> */

/* .customers {
    padding-top: 130px;
    padding-bottom: 120px;
    
}
.customer-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
}
.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-icon {
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
    fill: var(--accent-color);
}
.customers-list-link:hover,
.customers-list-link:focus {
    border-color: var(--accent-color);
    
}    */


/* <<<<< /Клієнти >>>>> */


/* <<<<< Футер >>>>> */
/* .footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;   
}

.footer-logotype {
    
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-span {
    color: #F4F4FD;}
    
.footer-text {
    margin-top: 16px;
    width: 264px;
    color: #E7E9FC;
}
.footer-page-list {
    display: flex;
}
.footer-social-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31D0AA;
}
.footer-social-list-icon {
    fill: #F4F4FD;
}

.fotter-social-list-item {
    margin-left: 120px;
}
.footer-form-title {
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-form-list {
    margin-left: 80px;
}
.footer-form-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-form-input:focus {
    outline: none;
    border-color: rgba(77, 90, 229, 1);
}
.footer-form-input::placeholder {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-form-wrapper {
    display: flex;   
}
.footer-form-submit {
    display: flex;
    width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #4D5AE5
    }
    .footer-form-submit:hover,
    .footer-form-submit:focus {
        background-color: var(--accent-color);
    }
    .footer-btn-icon {
        fill: #FFFFFF;;
        margin-left: 16px;
    } */



/* <<<<< /Футер >>>>> */

/* <<<<< Шапка портфоліо >>>>> */
/* <<<<< /Шапка портфоліо >>>>> */

/* <<<<< Тіло сторінки портфоліо >>>>> */

/* <<<<< Кнопки >>>>> */

/* .menu-btn {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 120px;    
    background-color: #FFFFFF;      
}
.filters-btn-list {
    display: flex;
    justify-content: center; 
    margin-bottom: 72px;
    gap: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.card-link:hover,
.card-link:focus {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.btn-filters {
    display: flex;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 0 solid #E7E9FC;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}   
.btn-filters:hover,
.btn-filters:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* <<<<< /Кнопки >>>>> */

/* <<<<< Картки >>>>> */


/* .portfolio-list {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
       
}
.title-text{    
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
   
}
.card-title {
    font-weight: 500;
}

 .card-text {
    margin-top: 8px;
}
.card-link {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.overlay-card {
    position: relative;
    overflow: hidden;
}
.overlay {    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 500ms linear;
    padding-left: 32px;
    padding-top: 40px;
    padding-right: 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;

}
.overlay-card-wrapper:hover .overlay,
.overlay-card-wrapper:focus .overlay {
    transform: translate(0, 0);
} */



/* <<<<< Картки >>>>> */

/* <<<<< /Картки >>>>> */

/* <<<<< /Тіло сторінки портфоліо >>>>> */

/* <<<<< Модальне вікно >>>>> */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 500ms linear, visibility 500ms ease-in;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    padding: 72px 24px 24px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background: var(--accent-color);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #FFFFFF;
} */
/* <<<<< /Модальне вікно >>>>> */
/* <<<<< Модальна форма >>>>> */

/* .modal-form {
    display: flex;
    flex-direction: column;
}
.description-form {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.modal-form-input {
    width: 100%;
    height: 40px;
    background-color: #FCFCFC;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    outline: none;
    border-color: rgba(77, 90, 229, 1);
}

.modal-form-input-desc {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8E8F99;
    text-transform: capitalize;
}
.modal-form-input-wrapper {
    position: relative;
    margin-bottom: 8px;
}
.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-input-icon {
    fill: rgba(77, 90, 229, 1);
}
.modal-form-message {
    width: 100%;
    height: 117px;
    padding: 8px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
    outline: none;
    border-color: rgba(77, 90, 229, 1);
}
.modal-form-message::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);

}
.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 24px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;

}
.modal-form-check-desc-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #4d5ae5;    
}
.modal-form-check-vector {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    
}
.modal-form-check-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #F4F4FD;

}
.modal-form-check {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    
}

.modal-form-check:checked + .modal-form-check-desc > .modal-form-check-vector {
    background-color: #404BBF;
    border-color: #404BBF;
}
.modal-form-check:focus + .modal-form-check-desc > .modal-form-check-vector {
    background-color: var(--accent-color);
    
}
.modal-form-submit {
    
    align-self: center;
    width: 169px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #4D5AE5
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--accent-color);
} */




/* <<<<< /Модальна форма >>>>> */
